.card__paralax01 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.5rem;
    color: white;
    overflow-y: hidden;
    padding: 24px;
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
}

.card__paralax01 h2 {
    margin-left: 0px;
    overflow-y: hidden;
}

.card__paralax01__img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/3;
    grid-column: 2/3;
    height: 100%;
    overflow-y: hidden;
}

.card__paralax01__img img {
    animation-name :zero__gravity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out
}

@keyframes zero__gravity {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(5%);
    }
}